# Ignore node_modules folder
node_modules/

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled files
*.class
*.o
*.so

# Ignore database files
*.sqlite
*.db

# Ignore temporary files
*.tmp
*.swp
*.bak

# Ignore IDE specific files
.vscode/
.idea/
*.iml